<template>
    <v-container
          fluid
          grid-list-lg
    >
        
        <v-layout row wrap>
            <v-flex xs12 sm6>

                <h1 class="display-1">Data Permohonan</h1>

                <p class="subheading">Kelola seluruh permohonan peminjaman.</p>

            </v-flex>

            <v-flex xs12>
                <v-card>
                <v-data-table
                    :headers="headers"
                    :items="mohonUnverified"
                    :rows-per-page-items="rowsPerPageItems"
                    :pagination.sync="pagination"      
                    v-model = "value"              
                >   
                    <template slot="items" slot-scope="props">
                    <tr>
                        <td>{{ props.item.applicant.name }}</td>
                        <td>{{ props.item.event_name }}</td>
                        <td>{{ props.item.used_at }}</td>
                        <td>{{ props.item.until }}</td>
                        <td >{{ props.item.location }}</td>
                        <td>
                            <v-icon
                                small
                                class="mr-2"
                                @click="accept(props.item)"
                            >
                                check
                            </v-icon>
                            <v-icon
                                small
                                @click="deny(props.item)"
                            >
                                close
                            </v-icon>
                        </td>
                    </tr>
                       
                    
                    </template>
                </v-data-table>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>

export default {
  components: {

  },
  data () {
    return {
        rowsPerPageItems: [10, 20, 30, 40],
        pagination: {
            rowsPerPage: 10
        },
        headers: [
          { text: 'Nama Pemohon',value: 'name'},
          { text: 'Nama Kegiatan', value: 'deskripsi' },
          { text: 'Mulai', value: 'stok' },
          { text: 'Hingga ', value: 'stok' },
          { text: 'Lokasi', value: 'price' },
          { text: 'Opsi', value: 'stok' }
        ],
        mohon : [],
        value : []
    }
  },
  methods : {
      accept(item){
          const index = this.mohon.indexOf(item)
          this.$http
            .post('/izin', {
                user_id : this.$store.state.user.id,
                mohon_id : item.id,
                status : 1
            })
            .then(
                this.mohon.splice(index, 1)
            );
            
            
      },
      deny(item){
          const index = this.mohon.indexOf(item)
          this.$http
            .post('/izin', {
                user_id : this.$store.state.user.id,
                mohon_id : item.id,
                status : 0
            })
            .then(
                this.mohon.splice(index, 1)
            );
            
            
      }
  },
  created () {
    this.$http
    .get('/mohon')
    .then( response => (this.mohon = response.data))
  },
  computed: {
    mohonUnverified() {
        return this.mohon.filter(function (m){
            return m.izin == null
        })
    }
  },
}
</script>