<template >
    <v-container
          fluid
          grid-list-lg
          v-if="selected"
    >
        <v-layout row wrap>
            <v-flex xs12>
                <v-card>
                        <v-container fluid grid-list-md >    

                        <v-layout row wrap justify-end>

                            <v-flex xs12>
                                <h1 class="headline" v-text="this.selected.event_name"></h1>
                                <p class="caption">{{this.selected.location}}, {{this.selected.used_at}}</p>
                            </v-flex>

                             <v-flex xs12>
                                <h1 class="headline">Deskripsi Kegiatan</h1>
                                <p v-text="this.selected.description"></p>
                            </v-flex>

                            <v-flex xs12>
                                <h1 class="headline mb-2">Aset yang dpinjam</h1>
                                <p v-for="(item, index) in this.selected.aset" :key="index" class="mb-1">{{item.pivot.qty}}x {{item.name}}</p>
                            </v-flex>

                            <v-flex xs12>
                                <h1 class="headline mb-2">Penanggung Jawab / Pemohon</h1>
                                <p v-text="this.application.name"></p>
                            </v-flex>

                            <v-flex xs12>
                                <h1 class="headline mb-2">Disetujui Oleh</h1>
                                <p v-if="this.permission" v-text="this.permission.user.name"></p>
                            </v-flex>

                            <v-flex xs12 sm3 >
                                <v-btn 
                                    v-if="permission && !permission.pinjam"
                                    block color="green" 
                                    dark
                                    @click="approve"
                                >Setujui dan Cetak</v-btn>

                                <v-btn 
                                    v-if="permission && permission.pinjam"
                                    block color="primary" 
                                    dark
                                >Cetak</v-btn>
                            </v-flex>
                            
                        </v-layout>

                        </v-container>
                    </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    data (){
        return{
            selected : null,
            application : null,
            permission : null
        }
    },
    methods: {
        approve(){
            this.$http
            .post('/pinjam', {
                izin_id : this.selected.izin.id
            })
            .then(
                this.$router.push('/pinjam')
            );
        }
    },
    mounted() {
        this.$http
        .get('/mohon/'+this.$route.params.id)
        .then( response => {
            this.selected = response.data
            this.application = response.data.applicant
            this.permission = response.data.izin
        })
    },
}
</script>