<template>
<div>
    <v-container blue-grey lighten-1 fluid>
        <v-layout row wrap>
            <v-flex xs12 >
                <span class="white--text headline">Tambah Aset</span><br>
                <span class="white--text subheading">Tambah aset baik berupa barang, gedung, ataupun kendaraan</span>
            </v-flex>
        </v-layout>
    </v-container>
    <v-container grid-list-md fluid>
        <v-layout row wrap>
            <v-flex xs12 >
                <v-text-field
                    :box="box"
                    label="Nama Aset"
                    v-model="name"
                    hint="Masukan nama aset yang mudah diingat."
                ></v-text-field>
            </v-flex>

            <v-flex sm6 xs12>
                <v-select
                    :box="box"
                    :items="jenis"
                    v-model="selectedJenis"
                    label="Jenis Aset"
                    item-text="name"
                    item-value="id"
                ></v-select>
            </v-flex>

            <v-flex xs12 sm4>
                <v-text-field
                    :box="box"
                    label="Harga Aset"
                    v-model="price"
                    hint="Masukan (perkiraan) harga satuan aset"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 sm2>
                <v-text-field
                    :box="box"
                    label="Stok"
                    v-model="stok"
                    hint="Masukan jumlah stok yang tersedia"
                ></v-text-field>
            </v-flex>

            <!-- gedung input components -->
            <v-flex xs12 v-if="this.selectedJenis == 2">
                <v-text-field
                    :box="box"
                    label="Lokasi"
                    v-model="lokasi"
                    hint="Masukan lokasi gedung"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 sm4 v-if="this.selectedJenis == 2">
                <v-text-field
                    :box="box"
                    label="Panjang"
                    v-model="panjang"
                    hint="Masukan panjang area gedung"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 sm4 v-if="this.selectedJenis == 2">
                <v-text-field
                    :box="box"
                    label="Lebar"
                    v-model="lebar"
                    hint="Masukan lebar area gedung"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 sm4 v-if="this.selectedJenis == 2">
                <v-text-field
                    :box="box"
                    label="Kapasitas"
                    v-model="kapasitas_gedung"
                    hint="Masukan kapasitas muatan gedung"
                ></v-text-field>
            </v-flex>

            <!-- kendaraan input components -->
            <v-flex xs12 sm4 v-if="this.selectedJenis == 3">
                <v-text-field
                    :box="box"
                    label="Nomor Polisi"
                    v-model="plate"
                    hint="Masukan nomor polisi kendaraan"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 sm4 v-if="this.selectedJenis == 3">
                <v-text-field
                    :box="box"
                    label="Jumlah Roda"
                    v-model="roda"
                    hint="Masukan jumlah roda kendaraan"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 sm4 v-if="this.selectedJenis == 3">
                <v-text-field
                    :box="box"
                    label="Kapasitas"
                    v-model="kapasitas_kendaraan"
                    hint="Masukan kapasitas penumpang"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 >
                <v-textarea
                    :box="box"
                    name="input-7-1"
                    label="Deskripsi"
                    v-model="deskripsi"
                    hint="Masukan deskripsi asset max 250 karakter"
                ></v-textarea>
            </v-flex>
            
            <v-flex xs12>
                <div class="dropbox">
                <input type="file" id="files" multiple @change="onFileChange" class="input-file">
                    <p >
                    Drag your file(s) here to begin<br> or click to browse
                    </p>
                    
                </div>
            </v-flex>

            <v-flex xs12 v-if="this.images.length > 0">
                <v-card flat class="grey lighten-2" >
                    <v-container grid-list-lg fluid>
                        <v-layout row wrap>
                            <v-flex xs6 sm2 v-for="(item, index) in imageurl" :key="index" :src="item">
                                <v-img :src="item" aspect-ratio="1">
                                    
                                </v-img>
                                <v-btn small dark block color="red" @click="imageRemove(item)">
                                    hapus
                                </v-btn>
                            </v-flex>
                        </v-layout> 
                    </v-container>
                </v-card>
            </v-flex>

            <v-flex xs12 sm1 class="pt-0">
                
                <v-btn block color="success" @click="onSubmit">simpan</v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</div>
</template>

<!-- SASS styling -->
<style lang="css">
  .dropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: #E0E0E0;
    color: dimgray;
    
    min-height: 200px; /* minimum height */
    
    cursor: pointer;
  }

  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
  }

  .dropbox:hover {
    background:#E0E0E0; /* when mouse over to the drop zone, change color */
  }

  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
  }
  /* .img-icon{
      z-index: 1;
      position : absolute!important;
      top : -20px;
      right : -20px;  
    }    */
</style>

<script>
export default {
    data() {
        return {
            box : true,
            jenis: [
                {id : 1, name : 'Barang'},
                {id : 2, name : 'Gedung'},
                {id : 3, name : 'Kendaraan'}
            ],
            selectedJenis: null,
            name: '',
            price: '',
            stok: '',
            deskripsi: '',
            images: [],
            imageurl : [],
            //gedung input
            lokasi : '',
            panjang : '',
            lebar : '',
            kapasitas_gedung : '',
            //kendaraan input
            plate : '',
            roda : '',
            kapasitas_kendaraan : ''
             
        }
    },
    methods: {

        onFileChange(e){
            var selectedFiles = e.target.files;
            for (var i=0; i < selectedFiles.length; i++){
                this.images.push(selectedFiles[i]);
                this.imageurl.push(URL.createObjectURL(selectedFiles[i]))
            }
            
        },

        imageRemove(item){
            this.imageurl.splice(item, 1)
            this.images.splice(item, 1)
        },

        onSubmit(){
            const config = {
                headers: { 'content-type': 'multipart/form-data' }
            }

            let formData = new FormData();
            for( var i = 0; i < this.images.length; i++ ){
                let image = this.images[i];
                formData.append('images[' + i + ']', image, image.name);
            }

            formData.append('name', this.name)
            formData.append('price', this.price)
            formData.append('stok', this.stok)
            formData.append('deskripsi', this.deskripsi)

            switch (this.selectedJenis) {
                case 1:
                    this.$http
                        .post('/aset', formData, config)
                        .then(
                            this.$router.push({ name: 'aset.index'})
                        )
                    break;

                case 2:
                    formData.append('lokasi', this.lokasi)
                    formData.append('panjang', this.panjang)
                    formData.append('lebar', this.lebar)
                    formData.append('capacity', this.kapasitas_gedung)

                    this.$http
                        .post('/gedung', formData, config)
                        .then(
                            this.$router.push({ name: 'aset.index'})
                        )
                    break;
                case 3:
                    formData.append('plate', this.plate)
                    formData.append('roda', this.roda)
                    formData.append('capacity', this.kapasitas_kendaraan)

                    this.$http
                        .post('/kendaraan', formData, config)
                        .then(
                            this.$router.push({ name: 'aset.index'})
                        )
                    break;
                default:
                    break;
            }

            

            
        }
    }
}
</script>