<template>
<div>
    <v-container blue-grey lighten-1 fluid>
        <v-layout row wrap>
            <v-flex xs12 >
                <span class="white--text headline">Tambah Aset</span><br>
                <span class="white--text subheading">Tambah aset baik berupa barang, gedung, ataupun kendaraan</span>
            </v-flex>
        </v-layout>
    </v-container>
    <v-container grid-list-md fluid>
        <v-layout row wrap>
            <v-flex xs12 >
                <v-text-field
                    :box="box"
                    label="Nama Aset"
                    v-model="name"
                    hint="Masukan nama aset yang mudah diingat."
                ></v-text-field>
            </v-flex>

            <v-flex sm6 xs12>
                <v-select
                    :box="box"
                    :items="jenis"
                    v-model="selectedJenis"
                    label="Jenis Aset"
                    item-text="name"
                    item-value="id"
                ></v-select>
            </v-flex>

            <v-flex xs12 sm4>
                <v-text-field
                    :box="box"
                    label="Harga Aset"
                    v-model="price"
                    hint="Masukan (perkiraan) harga satuan aset"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 sm2>
                <v-text-field
                    :box="box"
                    label="Stok"
                    v-model="stok"
                    hint="Masukan jumlah stok yang tersedia"
                ></v-text-field>
            </v-flex>

            <!-- gedung input components -->
            <v-flex xs12 v-if="this.selectedJenis == 2">
                <v-text-field
                    :box="box"
                    label="Lokasi"
                    v-model="lokasi"
                    hint="Masukan lokasi gedung"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 sm4 v-if="this.selectedJenis == 2">
                <v-text-field
                    :box="box"
                    label="Panjang"
                    v-model="panjang"
                    hint="Masukan panjang area gedung"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 sm4 v-if="this.selectedJenis == 2">
                <v-text-field
                    :box="box"
                    label="Lebar"
                    v-model="lebar"
                    hint="Masukan lebar area gedung"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 sm4 v-if="this.selectedJenis == 2">
                <v-text-field
                    :box="box"
                    label="Kapasitas"
                    v-model="kapasitas_gedung"
                    hint="Masukan kapasitas muatan gedung"
                ></v-text-field>
            </v-flex>

            <!-- kendaraan input components -->
            <v-flex xs12 sm4 v-if="this.selectedJenis == 3">
                <v-text-field
                    :box="box"
                    label="Nomor Polisi"
                    v-model="plate"
                    hint="Masukan nomor polisi kendaraan"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 sm4 v-if="this.selectedJenis == 3">
                <v-text-field
                    :box="box"
                    label="Jumlah Roda"
                    v-model="roda"
                    hint="Masukan jumlah roda kendaraan"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 sm4 v-if="this.selectedJenis == 3">
                <v-text-field
                    :box="box"
                    label="Kapasitas"
                    v-model="kapasitas_kendaraan"
                    hint="Masukan kapasitas penumpang"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 >
                <v-textarea
                    :box="box"
                    name="input-7-1"
                    label="Deskripsi"
                    v-model="deskripsi"
                    hint="Masukan deskripsi asset max 250 karakter"
                ></v-textarea>
            </v-flex>

            <v-flex xs12 sm1 class="pt-0">
                
                <v-btn block color="success" @click="onSubmit">perbarui</v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</div>
</template>

<script>
export default {
    data() {
        return {
            aset : null,
            box : true,
            jenis: [
                {id : 1, name : 'Barang'},
                {id : 2, name : 'Gedung'},
                {id : 3, name : 'Kendaraan'}
            ],
            selectedJenis: null,
            name: '',
            price: '',
            stok: '',
            deskripsi: '',
            //gedung input
            lokasi : '',
            panjang : '',
            lebar : '',
            kapasitas_gedung : '',
            //kendaraan input
            plate : '',
            roda : '',
            kapasitas_kendaraan : ''
             
        }
    },

    methods: {

        onSubmit(){

            this.$http
                .patch('/aset/'+this.$route.params.id, {
                    name : this.name,
                    price : this.price,
                    stok : this.stok,
                    deskripsi : this.deskripsi
                })                

            switch(this.selectedJenis){
                case 2 :
                    this.$http
                        .patch('/gedung/'+this.aset.asetable_id, {
                            panjang : this.panjang,
                            lebar : this.lebar,
                            lokasi : this.lokasi,
                            capacity : this.kapasitas_gedung
                        })
                    break;
                case 3 :
                    this.$http
                        .patch('/kendaraan/'+this.aset.asetable_id, {
                            plate : this.plate,
                            roda : this.roda,
                            capacity : this.kapasitas_kendaraan
                        })
                    break;
            }

        }
    },
    mounted() {
        this.$http
            .get('/aset/' + this.$route.params.id)
            .then(
                response => {
                    this.aset = response.data
                    this.name = response.data.name
                    this.price = response.data.price
                    this.stok = response.data.stok
                    this.deskripsi = response.data.deskripsi
                    switch (response.data.jenis) {
                            case 'gedung':
                                this.selectedJenis = 2
                                this.panjang = response.data.asetable.panjang
                                this.lebar = response.data.asetable.lebar
                                this.lokasi = response.data.asetable.lokasi
                                this.kapasitas_gedung = response.data.asetable.capacity
                                break;
                            case 'kendaraan':
                                this.selectedJenis = 3
                                this.plate = response.data.asetable.plate
                                this.roda = response.data.asetable.roda
                                this.kapasitas_kendaraan = response.data.asetable.capacity
                                break;
                            default:
                                this.selectedJenis = 1
                                break;
                    }
                }
            )
    },
}
</script>