<template>
    <v-container
          fluid
          grid-list-md
          v-if="aset"
    >
        
        <v-layout row wrap>

            <v-flex xs12>
                <v-card>
                    <v-card-title primary-title>
                        
                        <v-layout row wrap>
                            <v-flex xs12>
                                <span class="title pb-0">Data Aset</span> 
                            </v-flex>
                        
                            <v-flex xs12>
                                <span class="subheading">Kelola aset yang dimiliki Universitas Budi Luhur.</span>
                            </v-flex>
                        </v-layout> 
                        
                        <v-text-field
                            v-model="search"
                            append-icon="search"
                            label="Search"
                            single-line
                            hide-details
                        ></v-text-field>
                    </v-card-title>

                <v-data-table
                    :headers="headers"
                    :items="aset"  
                    v-model = "value"     
                    :search="search"         
                >   
                    <template slot="items" slot-scope="props">
                    <tr @click="goTo(props.item)">
                     <td>{{ props.item.name }}</td>
                        <td>{{ props.item.jenis }}</td>
                        <td>{{ props.item.created_at }}</td>
                        <td class="text-xs-right">{{ props.item.stok }}</td>
                        <td class="text-xs-right">{{ props.item.price }}</td>
                    </tr>
                    </template>
                </v-data-table>

                </v-card>
            </v-flex>
        </v-layout>

        <v-btn
            fixed
            dark
            fab
            bottom
            right
            color="red"
            to="/aset/create"
        >
            <v-icon>add</v-icon>
        </v-btn>

    </v-container>
</template>

<script>

export default {
  components: {

  },
  data () {
    return {
        rowsPerPageItems: [10, 20, 30, 40],
        pagination: {
            rowsPerPage: 10
        },
        headers: [
          { text: 'Nama Aset',value: 'name'},
          { text: 'Jenis', value: 'jenis' },
          { text: 'Tanggal Entry', value: 'created_at' },
          { text: 'Stok', value: 'stok' },
          { text: 'Harga (Rp.)', value: 'price' }
        ],
        aset : null,
        search : '',
        value : [],

    }
  },
  methods : {
      goTo(e){
          this.$router.push({ name: 'aset.show', params: { id: e.id }})
      },
      onSubmit(){
            
        }
  },
  created () {

    this.$http
    .get('/aset')
    .then( response => (this.aset = response.data))

    this.$http
            .get('/jenis')
            .then( response => (this.jenis = response.data))

  }
}
</script>