<template>
    <div>
    <v-container blue-grey lighten-1 fluid>
        <v-layout row wrap>
            <v-flex xs12 >
                <span class="white--text headline">Detail Aset</span><br>
                <span class="white--text subheading">informasi, gallery dan spesifikasi aset.</span>
            </v-flex>
        </v-layout>
    </v-container>
    <v-container grid-list-lg v-if="aset">
        <v-layout row wrap>

            <v-flex xs12 >
                <v-card>
                    
                    <v-tabs
                        color="transparent"
                        slider-color="primary"
                    >

                    <v-tab>
                        Overview
                    </v-tab>

                    <v-tab>
                        Spesifikasi
                    </v-tab>

                    <v-tab-item>
                        <v-card-text dense>
                            <p class="subheading">Deskripsi</p>
                            <p>{{aset.deskripsi}}</p>
                            <p v-if="asetable && aset.jenis == 'gedung'" class="subheading">Lokasi</p>
                            <p v-if="asetable && aset.jenis == 'gedung'">{{asetable.lokasi}}</p>
                            <p class="subheading">Gallery</p>
                            <v-layout row wrap>
                                <v-flex v-for="(item, index) in this.imgUrl" :key="index" xs6 sm3>
                                    <v-img :src="item.url"
                                        aspect-ratio="1"
                                        class="grey lighten-2"
                                        >
                                        <template v-slot:placeholder>
                                            <v-layout
                                                fill-height
                                                align-center
                                                justify-center
                                                ma-0
                                                >
                                                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                            </v-layout>
                                        </template>
                                    </v-img>
                                </v-flex>
                            </v-layout>
                        </v-card-text>
                    </v-tab-item>

                    <v-tab-item>
                        <v-list dense>
                            <v-list-tile >
                                <v-list-tile-content>
                                    Nama Aset
                                    </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{aset.name}}
                                </v-list-tile-content>
                            </v-list-tile>

                            <v-list-tile >
                                <v-list-tile-content>
                                    Jenis
                                    </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{aset.jenis}}
                                </v-list-tile-content>
                            </v-list-tile>

                            

                            <v-list-tile v-if="asetable && aset.jenis == 'gedung'">
                                <v-list-tile-content>
                                    Panjang x Lebar
                                    </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{asetable.panjang}} M x {{asetable.lebar}} M
                                </v-list-tile-content>
                            </v-list-tile>

                            <v-list-tile v-if="asetable && aset.jenis == 'kendaraan'">
                                <v-list-tile-content>
                                    Nomor Polisi
                                    </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{asetable.plate}}
                                </v-list-tile-content>
                            </v-list-tile>

                            <v-list-tile v-if="asetable && aset.jenis == 'kendaraan'">
                                <v-list-tile-content>
                                    Jumlah Roda
                                    </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{asetable.roda}} Roda
                                </v-list-tile-content>
                            </v-list-tile>

                            <v-list-tile v-if="asetable">
                                <v-list-tile-content>
                                    Kapasitas
                                    </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{asetable.capacity}} orang
                                </v-list-tile-content>
                            </v-list-tile>

                            <v-list-tile >
                                <v-list-tile-content>
                                    Tanggal Entry
                                    </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{aset.created_at}}
                                </v-list-tile-content>
                            </v-list-tile>

                            <v-list-tile >
                                <v-list-tile-content>
                                    Stok
                                    </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{aset.stok}}
                                </v-list-tile-content>
                            </v-list-tile>

                            <v-list-tile >
                                <v-list-tile-content>
                                    Harga
                                    </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{aset.price}}
                                </v-list-tile-content>
                            </v-list-tile>

                            
                            
                        </v-list>
                    </v-tab-item>
                        
                    </v-tabs>

                    <v-card-actions >
                        <v-spacer></v-spacer>
                         <v-btn @click="edit" flat color="orange">perbarui</v-btn>
                        
                    </v-card-actions>
                </v-card>
            </v-flex>

        </v-layout>
    </v-container>
    </div>
</template>

<script>
export default {
    data() {
        return {
            aset : null,
            asetable : null,
            // env : process.env.VUE_APP_IMG_URL
        }
    },
    computed: {
        imgUrl(){
            return this.aset.photo.map( function (img){
                if(img.url.substring(0, 4) == 'http')
                    return img
                img.url = '/' + img.url
                return img
                
            })
        }
    },
    methods: {
            edit(){
                this.$router.push({ name: 'aset.edit', params: { id: this.$route.params.id }})
            }
        
        
    },
    beforeMount() {
        this.$http
            .get('/aset/' + this.$route.params.id)
            .then(
                response => {
                    this.aset = response.data
                    this.asetable = response.data.asetable
                }
            )
    },
}
</script>