<template>
    <v-container fluid grid-list-xl>
        <v-layout row wrap>
            <v-flex xs12 sm6>
                <v-card>
            
                    <v-container fluid grid-list-md >    

                        <v-layout row wrap justify-end>

                            <v-flex xs12>
                                <h1 class="headline">Permohonan Pinjam</h1>
                            </v-flex>

                            <v-flex xs12 d-flex>
                                 <v-text-field
                                    label="Nama Kegiatan"
                                    v-model="name"
                                    hint="Masukan nama kegiatan"
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6>
                               <v-menu
                                    v-model="picker_start"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    lazy
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    min-width="290px"
                                >
                                    <v-text-field
                                    slot="activator"
                                    v-model="used_at"
                                    label="Mulai Tanggal"
                                    prepend-icon="event"
                                    readonly
                                    ></v-text-field>
                                    <v-date-picker v-model="used_at" @input="picker_start = false"></v-date-picker>
                                </v-menu>
                            </v-flex>

                            <v-flex xs12 sm6>
                               <v-menu
                                    v-model="picker_end"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    lazy
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    min-width="290px"
                                >
                                    <v-text-field
                                    slot="activator"
                                    v-model="until"
                                    label="Hingga"
                                    prepend-icon="event"
                                    readonly
                                    ></v-text-field>
                                    <v-date-picker v-model="until" @input="picker_end = false"></v-date-picker>
                                </v-menu>
                            </v-flex>

                            <v-flex xs12>
                                <v-text-field
                                    label="Lokasi"
                                    v-model="location"
                                    hint="Masukan lokasi kegiatan"
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12 >
                                <v-text-field
                                    label="Deskripsi"
                                    v-model="deskripsi"
                                    hint="Masukan  uraian kegiatan max 250 karakter"
                                ></v-text-field>
                            </v-flex>

                            

                            
                            
                            <v-flex xs12 sm3 >
                                <v-btn 
                                    block color="primary" 
                                    dark
                                    @click="onSubmit"
                                >simpan</v-btn>
                            </v-flex>
                            
                        </v-layout>

                    </v-container>

                </v-card>

            </v-flex>

            <v-flex xs12 sm6 >
                <v-card>
                    <v-card-title>
                        <h1 class="headline">Data Aset</h1>
                    
                    <v-spacer></v-spacer>
                    <v-text-field
                        v-model="search"
                        append-icon="search"
                        label="Search"
                        single-line
                        hide-details
                    ></v-text-field>
                    </v-card-title>
                    <v-data-table
                        v-model = "selected"
                        :headers="headers"
                        :items="aset"
                        
                        select-all
                        class="elevation-1"
                        :search="search"
                    >
                        <template slot="items" slot-scope="props">
                        <td>
                            <v-checkbox
                            v-model="props.selected"
                            primary
                            hide-details
                            ></v-checkbox>
                        </td>
                        <td>{{ props.item.name }}</td>                    
                        <td class="text-xs-right">{{ props.item.stok }}</td>
                        <td>
                            <v-edit-dialog
                                :return-value.sync="props.item.qty"
                                large
                                lazy
                                persistent
                            > {{ props.item.qty }}
                                <v-text-field
                                slot="input"
                                v-model="props.item.qty"                        
                                label="Jumlah"
                                single-line
                                autofocus
                                ></v-text-field>
                            </v-edit-dialog>
                        </td>
                        </template>
                    </v-data-table>
                </v-card>
            </v-flex>

        </v-layout>

    </v-container>

</template>

<script>
export default {
    data () {
        return {
            headers : [
                { text: 'Nama', value: 'name' },
                { text: 'Stok', value: 'stok' },
                { text: 'Jumlah Pinjam', value: 'qty' },
            ],
            search : '',
            aset : [],
            selected : [],
            name : '',
            used_at : new Date().toISOString().substr(0, 10),
            until : new Date().toISOString().substr(0, 10),
            picker_start: false,
            picker_end : false,
            deskripsi : '',
            location : ''

        }
    },
    computed: {
        selectedItem () {
            return this.selected.map(function(item) {
                let newobj = {
                    [item['id']] : {
                        "qty" : item['qty']
                    }
                }
                return newobj
            })
        }
    },
    methods: {

        onSubmit(){
            this.$http
            .post('/mohon', {
                user_id : this.$store.state.user.id,
                event_name : this.name,
                description : this.deskripsi,
                used_at : this.used_at,
                until : this.until,
                location : this.location,
                details : this.selectedItem
            }).
            then(
                this.$store.commit('snack', {
                    text : "Data Berhasil Disimpan",
                    color : "green"
                })
                
            );
            this.$router.push({ name: 'mohon.status'})
             


        }
    },
    mounted () {
        this.$http
            .get('/aset')
            .then( response => (this.aset = response.data))
    }
}
</script>