<template>
    
    <v-container grid-list-xl>
    
        <v-layout row wrap>

            <v-flex xs12 sm6>

                <h1 class="display-1">Data Permohonan</h1>

                <p class="subheading">Cek status permohonan, cetak bukti perizinan peminjaman</p>

            </v-flex>

            <v-flex xs12 >
                <v-card>
                    <v-card-title>

                        Daftar Permohonan
                    
                    <v-spacer></v-spacer>
                    <v-text-field
                        v-model="search"
                        append-icon="search"
                        label="Search"
                        single-line
                        hide-details
                    ></v-text-field>
                    </v-card-title>
                    <v-data-table
                        :headers="headers"
                        :items="mohon" 
                        class="elevation-1"
                        :search="search"
                    >
                        <template slot="items" slot-scope="props">

                        <td>{{ props.item.event_name }}</td>                    
                        <td>{{ props.item.used_at }}</td>
                        <td>{{ props.item.until }}</td>
                        <td>
                            <v-chip 
                                v-if="props.item.status == 0" 
                                color="secondary" 
                                text-color="white">
                                Diusulkan
                            </v-chip>

                            <v-chip 
                                v-if="props.item.status == 1" 
                                color="green" 
                                text-color="white">
                                Disetujui
                            </v-chip>

                            <v-chip 
                                v-if="props.item.status == 2" 
                                color="red" 
                                text-color="white">
                                Ditolak
                            </v-chip>
                        
                        
                        </td>
                        
                        </template>
                    </v-data-table>
                </v-card>
            </v-flex>
        </v-layout>

    </v-container>
        
    
</template>

<script>
export default {
    data () {
        return {
            headers : [
                { text: 'Judul Kegiatan',value: 'event_name'},
                { text: 'Tanggal Kegiatan',value: 'used_at'},
                { text: 'Sampai',value: 'until'},
                { text: 'Status',value: 'status'},
            ],
            mohon : [],
            search : ''
        }
    },
    mounted () {
        this.$http
            .get('/user/'+ this.$store.state.user.id + '/mohon')
            .then( response => (this.mohon = response.data))
    }
}
</script>