<template>
<div>
    <v-container blue-grey lighten-1 fluid>
        <v-layout row wrap>
            <v-flex xs12 >
                <span class="white--text headline">Cetak Laporan</span><br>
                <span class="white--text subheading">Cetak laporan sesuai dengan kebutuhan</span>
            </v-flex>
        </v-layout>
    </v-container>
    <v-container grid-list-md fluid>
        <v-layout row wrap>

            <v-flex xs12 sm1>
                <v-btn 
                    
                    block 
                    color="success" 
                    @click='print'>
                    cetak
                </v-btn>
            </v-flex>
            
        </v-layout>
    </v-container>
</div>
</template>


<script>
export default {
    data() {
        return {
            box : true,
            date_mask: '##-##-####',
            
            awal: null,
            akhir : null ,
            
        }
    },
    
    methods: {
        print(){
            this.$http
                .get('/report/belumkembali')
        }
    },
}
</script>
