<template>
<div>
    <v-container blue-grey lighten-1 fluid>
        <v-layout row wrap>
            <v-flex xs12 >
                <span class="white--text headline">Cetak Laporan</span><br>
                <span class="white--text subheading">Cetak laporan sesuai dengan kebutuhan</span>
            </v-flex>
        </v-layout>
    </v-container>
    <v-container grid-list-md fluid>
        <v-layout row wrap>
            

           

            <v-flex xs12 sm6>
                <v-text-field
                    return-masked-value
                    :box="box"
                    label="Periode Awal"
                    :mask="date_mask"
                    v-model="awal"
                    hint="Masukan (perkiraan) periode awal laporan"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 sm6>
                <v-text-field
                    return-masked-value
                    :box="box"
                    :mask="date_mask"
                    label="Periode Akhir"
                    v-model="akhir"
                    hint="Masukan (perkiraan) periode akhir laporan"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 sm1>
                <v-btn 
                    :disabled="!this.awal || !this.akhir ? true : false" 
                    block 
                    color="success" 
                    @click='print'>
                    cetak
                </v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</div>
</template>


<script>
export default {
    data() {
        return {
            box : true,
            date_mask: '##-##-####',
            
            awal: null,
            akhir : null ,
            
        }
    },
    
    methods: {
        print(){
            this.$http
                .get('/report/topaset/'+this.awal+'/'+this.akhir)
        }
    },
}
</script>
