<template>
    <v-container
          fluid
          grid-list-lg
          
    >
        
        <v-layout row wrap>
            <v-flex xs12>

                <h1 class="display-1">Data Pengembalian</h1>

                <p class="">Kelola jatuh tempo Pengembalian aset pinjaman</p>

            </v-flex>

            <v-flex xs12>
                <v-card>
                <v-data-table
                    :headers="headers"
                    :items="pinjam"      
                >   
                    <template slot="items" slot-scope="props">
                    <tr @click="goTo(props.item)">
                        <td>{{ props.item.izin.mohon.applicant.name }}</td>
                        <td>{{ props.item.izin.mohon.event_name }}</td>
                        <td>{{ props.item.izin.mohon.until }}</td>
                        <td>
                            <p v-if="props.item.kembali">Sudah Kembali</p>
                            <p v-else>Belum Kembali</p>
                        </td>
                        
                    </tr>
                       
                    
                    </template>
                </v-data-table>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    data() {
        return {
            pinjam : [],
            headers: [
                { text: 'Nama Pemohon',value: 'name'},
                { text: 'Nama Kegiatan', value: 'event_name' },
                { text: 'Jatuh Tempo Pengembalian', value: 'until' },
                { text: 'Status', value: '' }
            ],
        }
    },
    methods: {
        goTo(item){
            this.$router.push({ name: 'kembali.show', params: { id: item.id }})
        }
    },
    mounted() {
        this.$http
            .get('/pinjam')
            .then( response => (this.pinjam = response.data))
    },
    
}
</script>