<template>
    <v-container fluid grid-list-lg>
        <v-layout row wrap>
            <v-flex xs12>
                
                <v-card>

                    <v-card-title primary-title>

                        <h1 class="headline mb-2" v-text="this.mohon.event_name"></h1>
                        
                    </v-card-title>

                    <v-tabs fixed-tabs grow>
                        
                        <v-tab>
                        Peminjaman
                        </v-tab>

                        <v-tab>
                        Aset Rusak
                        </v-tab>

                        <v-tab-item>
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <v-card-text>

                                        <p class="subheading">Tanggal Kegiatan</p>

                                        <p>{{this.mohon.used_at}} - {{this.mohon.until}}</p>

                                        <p class="subheading">Deskripsi Kegiatan</p>

                                        <p v-text="this.mohon.description"></p>

                                        <p class="subheading">Lokasi</p>

                                        <p v-text="this.mohon.location"></p>

                                        <p class="subheading">Penyelenggara</p>

                                        <p v-text="this.applicant.name"></p>

                                        <p class="subheading">Disetujui</p>

                                        <p v-text="this.permittor.name"></p>

                                        <v-btn class="ml-0" block color="success" @click="kembaliSubmit">Terima</v-btn>

                                    </v-card-text>
                                </v-flex>
                            </v-layout>
                        </v-tab-item>

                        <v-tab-item>   
                            <v-layout row wrap justify-end>
                                <v-flex xs12 >
                                    <v-card-text >
                                        <v-btn block color="red" dark @click="dialog = true">Tambah</v-btn>
                                    </v-card-text>
                                    
                                </v-flex>
                                <v-flex xs12 v-if="asetRusak.length > 0">
                                    
                                    <v-list >
                                        <v-list-tile 
                                        v-for="(item, index) in asetRusak" :key="index">
                                            <v-list-tile-content>
                                                <v-list-tile-title >{{item.name}} x {{item.rusak}}</v-list-tile-title>
                                                <v-list-tile-sub-title>{{item.rusakNote}}</v-list-tile-sub-title>
                                            </v-list-tile-content>

                                            <v-list-tile-action>
                                                <v-btn flat icon color="red" @click="cancel(item)">
                                                    <v-icon >close</v-icon>
                                                </v-btn>
                                            </v-list-tile-action>
                                            
                                        </v-list-tile>
                                    </v-list>
                                </v-flex>
                            </v-layout>                            
                        </v-tab-item>
                    </v-tabs>

                </v-card>

            </v-flex>
        </v-layout>

        <v-dialog v-model="dialog" persistent max-width="600px">
            <v-card>
                <v-card-title>
                <span class="headline">Form Aset Rusak</span>
                </v-card-title>
                <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>
                    <v-flex xs12 sm6>

                        <v-select
                        v-model="idRusak"
                            :items="this.detail"
                            item-text="name"
                            item-value="id"
                            label="Nama Aset"
                            required
                        ></v-select>
                    </v-flex>

                    <v-flex xs12 sm6>
                        <v-text-field value="" @input="value => {qtyRusak = value}" label="Jumlah Rusak"></v-text-field>
                    </v-flex>

                    <v-flex xs12 >
                        <v-text-field v-model="noteRusak" label="Keterangan" hint="example of helper text only on focus"></v-text-field>
                    </v-flex>
                                       
                    </v-layout>
                </v-container>
                
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click="dialog = false">Close</v-btn>
                <v-btn color="blue darken-1" flat @click="addRusak">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        
    </v-container>
</template>

<script>
export default {
    data() {
        return {
            pinjam : [],
            kembali : [],
            detail : [],
            mohon : [],
            applicant : [],
            permittor : [],
            kembali_aset : [],
            rusak : [],
            dialog : false,
            idRusak : null,
            qtyRusak : 0,
            noteRusak : null
        }
    },
    methods: {
       addRusak(){

            const id = this.idRusak
            const rusak = this.detail.find(function(e){
                return e.id == id
            })

            rusak.qty = this.qtyRusak
            rusak.rusakNote = this.noteRusak
        
       },

       cancel(item){
           const index = this.detail.indexOf(item)
           this.detail[index].rusak = null
       },

       kembaliSubmit(){
           this.$http
            .post('/kembali', {
                pinjam_id : this.pinjam.id,
                aset_kembali_rusak : this.asetRusak.map((item) => {
                    return {
                        [item.id] : {
                            qty : item.qty,
                            note : item.rusakNote
                        }
                    }
                })
            })
       }
    },
    computed: {
        asetRusak(){
            return this.detail.filter(function(detail){
                return detail.qty != null 
            })
        }
    },
    created() {
        this.$http
            .get('/pinjam/' + this.$route.params.id)
            .then(response => {
                this.pinjam = response.data,
                this.kembali = response.data.kembali,
                this.detail = response.data.izin.mohon.aset.map((item) => {
                    return {
                        id : item.id,
                        name : item.name,
                        qty : null,
                        rusakNote : null
                    }
                }),
                this.mohon = response.data.izin.mohon,
                this.applicant = response.data.izin.mohon.applicant,
                this.permittor = response.data.izin.user
            })

    },

}
</script>