<template>
    <div>
        <v-container fluid v-if="cartCount > 0">
            <v-layout row wrap justify-center>
                <v-flex xs12 class="text-xs-center">
                    <span class="headline">Checkout</span><br>
                    <span class="">Tentukan detil kegiatan peminjaman</span>
                </v-flex>
            </v-layout>
        </v-container>
        <v-container grid-list-lg v-if="cartCount > 0">
            <v-layout row wrap justify-center>
                <v-flex xs12 sm5>
                    <v-layout row wrap>
                        <v-flex xs12>
                            <v-card>
                                <v-card-text>
                                    <v-text-field
                                        v-model="name"
                                        label="Nama Kegiatan"
                                    ></v-text-field>

                                    <v-text-field
                                        v-model="used_at"
                                        mask="##-##-####"
                                        return-masked-value
                                        label="Tanggal Mulai"
                                    ></v-text-field>

                                    <v-text-field
                                        v-model="until"
                                        mask="##-##-####"
                                        return-masked-value
                                        label="Tanggal Selesai"
                                    ></v-text-field>

                                    <v-text-field
                                        v-model="location"
                                        label="Lokasi"
                                    ></v-text-field>

                                    <v-text-field
                                        v-model="deskripsi"
                                        label="Deskripsi Kegiatan"
                                    ></v-text-field>
                                </v-card-text>
                                <v-divider class="mt-5"></v-divider>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn flat color="success" @click="submit">konfirmasi</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                        <v-flex xs12>
                            <v-card dark color="amber">
                                <v-card-text>
                                    Ditemukan peminjaman multi-kategori. untuk permohonan pinjam dengan banyak kategori, sistem
                                    akan membagikan permohonan pinjam menjadi beberapa bagian permohonan berdasarken jenis aset yang dipinjam secara otomatis. 
                                </v-card-text>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-flex>
                <v-flex xs12 sm5>
                    <v-card>
                        <v-list two-line>
                            <v-list-tile v-for="(item, index) in cartItems" :key="index">

                                <v-list-tile-content>
                                    <v-list-tile-title>{{item.name}}</v-list-tile-title>
                                    <v-list-tile-sub-title>Jumlah pinjam : {{item.qty}} pcs</v-list-tile-sub-title>
                                </v-list-tile-content>

                                <v-list-tile-action>
                                    <v-btn small icon color="red"  @click="decreasecartqty(item)" dark><v-icon>remove</v-icon></v-btn>
                                </v-list-tile-action>

                                <v-list-tile-action>
                                    <v-btn small icon color="green"  @click="addcartqty(item)" dark><v-icon>add</v-icon></v-btn>
                                </v-list-tile-action>

                            </v-list-tile>
                        </v-list>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
        <v-container fluid v-if="cartCount == 0">
            <v-layout height row wrap align-center justify-center fill-height>
               
                    <v-flex xs12 sm9>
                        <h2 class="display-3 font-weight-thin pt-5 mt-5 ">Loh? Keranjang Kamu Kok Kosong?</h2>
                        <p>Ada banyak barang lain yang bisa kamu pinjam selain keranjang kosong. Silakan pilih barang yang ingin kamu pinjam dan tekan checkout untuk memproses peminjaman.</p>  
                    </v-flex>
                
            </v-layout>
        </v-container>
    </div>
</template>

<script>
export default {

    data() {
        return {
            name : '',
            deskripsi : '',
            used_at : '',
            until : '',
            location : ''
        }
    },

    computed: {
        cartItems(){

            return this.$store.state.cart

        },

        cartCount(){

            return this.$store.getters.totalcart

        },
        cartCat(){
            arr = this.$store.state.cart.map(obj => obj['jenis_id'])
            return new Set(arr.sort(function(a, b){return a - b}))
        }
    },

    methods: {
        removeItemcart(item){
            let index = this.cartItems.indexOf(item);
            this.$store.commit('removecartitem', index);
        },
        addcartqty(item){
            let index = this.cartItems.indexOf(item);
            this.$store.commit('addcartqty', index);
        },
        decreasecartqty(item){
            let index = this.cartItems.indexOf(item);
            this.$store.commit('decreasecartqty', index);
            if(this.cartCount == 0 && !this.$vuetify.breakpoint.xs)
                setTimeout(() => {
                    this.$router.push({ name: 'explore'}) 
                }, 5000);
        },
        submit(){
            this.$http
            .post('/mohon', {
                user_id : this.$store.state.user.id,
                event_name : this.name,
                description : this.deskripsi,
                used_at : this.used_at,
                until : this.until,
                location : this.location,
                details : this.$store.getters.cartGrouped
            })
            .then(
                this.$store.commit('emptycart'),
                this.$store.commit('snack', {
                    text : "Data Berhasil Disimpan",
                    color : "green"
                }),
                this.$router.push({ name: 'mohon.status'})
            );            
        }
    },
    
    mounted() {
        this.$vuetify.goTo(0)

        if(!this.$vuetify.breakpoint.xs && this.cartCount == 0)
            setTimeout(() => {
               this.$router.push({ name: 'explore'}) 
            }, 5000);
    },
}
</script>