<template>
    <div>
        <v-container grid-list-lg>
            <v-layout row wrap>

                <v-flex xs12>
                    <v-card dark color="purple" >
                    <v-card-title primary-title>
                    <div>
                        <h2 class="display-2 font-weight-thin mb-3">Selamat datang, <span class="text-capitalize ">{{this.$store.state.user.name.toLowerCase()}}</span>!</h2>
                        <p class="mb-0">Selamat datang di aplikasi Peminjaman Aset Universitas Budi Luhur. Aplikasi ini sedang berada pada pada pengembangan. Tekan tombol pelajari dibagian kanan bawah untuk mengunduh panduan penggunaan aplikasi.</p>
                    </div>
                    </v-card-title>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn flat @click="panduan">pelajari</v-btn>
                    </v-card-actions>
                    </v-card>
                    
                </v-flex>

            </v-layout>
            <v-layout row wrap justify-end >
                <v-flex xs12 sm5>
                    <v-text-field
                        v-model="search"
                        name="name"
                        label="Cari Aset"
                        id="id"
                    ></v-text-field>
                </v-flex>
            </v-layout>
            <v-data-iterator
                :search="search"
                :items="aset"
                :rows-per-page-items="rowsPerPageItems"
                :pagination.sync="pagination"
                
                content-tag="v-layout"
                row
                wrap
            >
            <template v-slot:item="props">
                <v-flex
                xs12
                sm3
                >
                <v-card >
                    <v-img
                    :src="props.item.thumbnail"
                    aspect-ratio="1"
                    class="grey lighten-2"
                    ></v-img>
                    <v-card-text>
                        <v-layout row wrap>
                            <v-flex xs7>
                                <p class="headline mb-0">{{ props.item.name }}</p>
                                <p class="caption mb-0 mt-0">Stok Terakhir : {{props.item.stok}}</p>
                            </v-flex>
                            
                        </v-layout>
                    </v-card-text>
                    
                <v-btn 
                    block 
                    depressed 
                    color="success" 
                    class="custom_radius 
                            text-capitalize
                            subheading
                            font-weight-regular"
                    @click="addtocart(props.item)"
                >
                    Pinjam
                </v-btn>
                    
                </v-card>
                </v-flex>
            </template>
            </v-data-iterator>
        </v-container>
    </div>
</template>

<style>
    .custom_radius{
        border-radius:  0 0 2px 2px!important;
    }
</style>


<script>
export default {
    data() {
        return {
            aset : [],
            rowsPerPageItems: [4, 8, 12],
            pagination: {
                rowsPerPage: 8
            },
            search : ''
        }
    },
    computed: {
        imgUrl(){
            return this.aset.map( function (img){
                if(img.photo[0].url.substring(0, 4) == 'http')
                    return img
                img.photo[0].url = '/' + img.photo[0].url
                return img
                
            })
        }
    },
    methods: {
        addtocart(e){
            let payload = {
                id: e.id,
                name: e.name,
                deskripsi : e.deskripsi,
                qty : 1,
                thumbnail : e.thumbnail,
                jenis_id : e.jenis_id
            }
            this.$store.commit('addtocart', payload)
    
        },
        panduan(){
            const config = {
                responseType: 'blob'
            }
            this.$http
                .get('/guide', config)
                .then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'file.pdf');
                    document.body.appendChild(link);
                    link.click();
                })
        }
    },
    mounted() {
        this.$http
            .get('/aset')
            .then( response => (this.aset = response.data))

        
    },
}
</script>