<template>
    
  <v-container fluid grid-list-lg >
    
    <v-layout row wrap>

      <v-flex xs12 sm3>
        <v-card dark color="primary" >
           <v-card-title primary-title>
          <div>
            <h5 class="headline mb-0">Permohonan</h5>
            <p class="caption mb-0">Jumlah permohonan diterima</p>
          </div>
        </v-card-title>

        <v-card-text class="text-xs-right">
          <h3 class="headline"> 47 orang</h3>
          
        </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm3>
        <v-card dark color="green" >
           <v-card-title primary-title>
          <div>
            <h5 class="headline mb-0">Peminjaman</h5>
            <p class="caption mb-0">Jumlah peminjaman berlangsung</p>
          </div>
        </v-card-title>

        <v-card-text class="text-xs-right">
          <h3 class="headline"> 12 orang </h3>
          
        </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm3>
        <v-card dark color="orange" >
           <v-card-title primary-title>
          <div>
            <h5 class="headline mb-0">Pengembalian</h5>
            <p class="caption mb-0">Jumlah jatuh tempo pengembalian</p>
          </div>
        </v-card-title>

        <v-card-text class="text-xs-right">
          <h3 class="headline"> 21 peminjaman </h3>
          
        </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm3>
        <v-card dark color="purple" >
           <v-card-title primary-title>
          <div>
            <h5 class="headline mb-0">Pengguna</h5>
            <p class="caption mb-0">Jumlah pengguna terdaftar</p>
          </div>
        </v-card-title>

        <v-card-text class="text-xs-right">
          <h3 class="headline"> 128 orang </h3>
          
        </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12>
        <v-card>
           <v-card-title primary-title>
          <div>
            <h5 class="headline mb-0">Pengguna</h5>
            <p class="caption mb-0">Jumlah pengguna terdaftar</p>
          </div>
        </v-card-title>
        
          <v-data-table
            :headers="headers"
            :items="desserts"
            class="elevation-1"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.name }}</td>
              <td class="text-xs-right">{{ props.item.calories }}</td>
              <td class="text-xs-right">{{ props.item.fat }}</td>
              <td class="text-xs-right">{{ props.item.carbs }}</td>
              <td class="text-xs-right">{{ props.item.protein }}</td>
              <td class="text-xs-right">{{ props.item.iron }}</td>
            </template>
          </v-data-table>
        </v-card>
      </v-flex>

    </v-layout>

  </v-container>
      
</template>

<script>
  export default {
    data () {
      return {
        headers: [
          {
            text: 'Dessert (100g serving)',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          { text: 'Calories', value: 'calories' },
          { text: 'Fat (g)', value: 'fat' },
          { text: 'Carbs (g)', value: 'carbs' },
          { text: 'Protein (g)', value: 'protein' },
          { text: 'Iron (%)', value: 'iron' }
        ],
        desserts: [
          {
            name: 'Frozen Yogurt',
            calories: 159,
            fat: 6.0,
            carbs: 24,
            protein: 4.0,
            iron: '1%'
          },
          {
            name: 'Ice cream sandwich',
            calories: 237,
            fat: 9.0,
            carbs: 37,
            protein: 4.3,
            iron: '1%'
          },
          {
            name: 'Eclair',
            calories: 262,
            fat: 16.0,
            carbs: 23,
            protein: 6.0,
            iron: '7%'
          },
          {
            name: 'Cupcake',
            calories: 305,
            fat: 3.7,
            carbs: 67,
            protein: 4.3,
            iron: '8%'
          },
          {
            name: 'Gingerbread',
            calories: 356,
            fat: 16.0,
            carbs: 49,
            protein: 3.9,
            iron: '16%'
          },
          {
            name: 'Jelly bean',
            calories: 375,
            fat: 0.0,
            carbs: 94,
            protein: 0.0,
            iron: '0%'
          },
          {
            name: 'Lollipop',
            calories: 392,
            fat: 0.2,
            carbs: 98,
            protein: 0,
            iron: '2%'
          },
          {
            name: 'Honeycomb',
            calories: 408,
            fat: 3.2,
            carbs: 87,
            protein: 6.5,
            iron: '45%'
          },
          {
            name: 'Donut',
            calories: 452,
            fat: 25.0,
            carbs: 51,
            protein: 4.9,
            iron: '22%'
          },
          {
            name: 'KitKat',
            calories: 518,
            fat: 26.0,
            carbs: 65,
            protein: 7,
            iron: '6%'
          }
        ]
      }
    }
  }
</script>