<template>
    <div>
        <v-bottom-nav
            :value="true"
            fixed
            color="white"
            app
        >
            <v-btn
            color="teal"
            flat
            to="/explore"
            >
            <span>Home</span>
            <v-icon>home</v-icon>
            </v-btn>

            <v-btn
            color="teal"
            flat
            to="/checkout"
            >
            <span>Checkout</span>
                <v-badge left color="green" >
                    <span slot="badge" v-if="cartCount > 0">{{cartCount}}</span>
                    <v-icon>shopping_cart</v-icon>
                </v-badge>
            </v-btn>

            <v-btn
            color="teal"
            flat
            to="/mohon/status"
            >
            <span>Status</span>
            <v-icon>receipt</v-icon>
            </v-btn>

            <v-btn
            color="teal"
            flat
            @click="logout"
            >
            <span>Logout</span>
            <v-icon>exit_to_app</v-icon>
            </v-btn>
        </v-bottom-nav>
    </div>
</template>

<script>
export default {
    computed: {
        cartCount(){

            return this.$store.getters.totalcart

        }, 
        
    },

    methods: {
            logout(){

                localStorage.removeItem('user')

                this.$store.commit('logout')
                
                this.$router.push({ name: 'login'})

            }
        },
}
</script>