<template>
<!-- visit https://github.com/vuetifyjs/vuetify/issues/3399  -->
      <div>
        <v-speed-dial
          v-model="fab"
            fixed
            bottom
            right
            :direction="direction"
            :open-on-hover="hover"
            :transition="transition"
        >
          <template v-slot:activator>
            <v-btn
              v-model="fab"
              color="blue darken-2"
              dark
              fab
            >
              <v-icon>add</v-icon>
              <v-icon>close</v-icon>
            </v-btn>
          </template>
            <v-tooltip :disabled="tooltipsDisabled" left :value="tooltips">
              <v-btn fab dark small color="green" slot="activator" @click="asetDialog = true">
                <v-icon>weekend</v-icon>
              </v-btn>
              <span>Entry aset</span>
            </v-tooltip>    
            <v-tooltip :disabled="tooltipsDisabled" left :value="tooltips">
              <v-btn fab dark small color="indigo" slot="activator">
                <v-icon>meeting_room</v-icon>
              </v-btn>
              <span>Entry gedung / ruangan</span>
            </v-tooltip>  
            <v-tooltip :disabled="tooltipsDisabled" left :value="tooltips">
              <v-btn fab dark small color="red" slot="activator">
                <v-icon>directions_car</v-icon>
              </v-btn>
              <span>Entry kendaraan</span>
            </v-tooltip>
            <v-tooltip :disabled="tooltipsDisabled" left :value="tooltips">
              <v-btn fab dark small color="purple" slot="activator" @click="rutinDialog = true">
                <v-icon>cached</v-icon>
              </v-btn>
              <span>Entry Pinjam Rutin</span>
            </v-tooltip>        
        </v-speed-dial>

        <asetDialog v-model="asetDialog"></asetDialog>

        <rutinDialog v-model="rutinDialog"></rutinDialog>
      </div>

  
</template>

<script>
import asetDialog from './dialog/aset.create'
import rutinDialog from './dialog/rutin.create'
export default {
  components : {
    asetDialog,
    rutinDialog
  },
    data() {
        return {
          direction: 'top',
          fab: false,
          fling: false,
          hover: false,
          tabs: null,
          top: false,
          right: true,
          bottom: true,
          left: false,
          transition: 'slide-y-reverse-transition',
          tooltips: false,
          tooltipsDisabled: false,

          asetDialog : false,
          rutinDialog : false,
          jenis: [],
          selectedJenis: null,
          name: '',
          price: '',
          stok: '',
          deskripsi: '',
          selected: null
        }
    },

    computed: {
    activeFab () {
      switch (this.tabs) {
        case 'one': return { 'class': 'purple', icon: 'account_circle' }
        case 'two': return { 'class': 'red', icon: 'edit' }
        case 'three': return { 'class': 'green', icon: 'keyboard_arrow_up' }
        default: return {}
      }
    }
  },

  methods: {
    onSubmit() {
      
    }
  },

  watch: {
    // fab (val) {
    //   this.tooltips = false
    //   this.tooltipsDisabled = false
    //   val && setTimeout(() => {
    //     this.tooltips = true
    //     this.$nextTick(() => this.tooltipsDisabled = true)
    //   }, 250)
    // },
    
  }

}
</script>