<template id="here">
    
        <v-toolbar
      color="blue"
      dark
      fixed
      clipped
      app
      id="tolbar"
    >
      <v-toolbar-side-icon @click.stop="toogleDrawer"></v-toolbar-side-icon>
      
      <v-toolbar-title class="mr-5 align-center">
        <span class="title font-weight-light">Budi Luhur Inventory</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      
      <v-toolbar-items class="hidden-sm-and-down">
      <v-btn @click='logout' flat>logout</v-btn>
    </v-toolbar-items>

    </v-toolbar>
    
</template>

<script>

export default {
 
  data () {
    return {
      
    }
  },
  methods : {
      toogleDrawer () {

          this.$store.commit('toogleDrawer')
          
      },
      logout(){

        localStorage.removeItem('user')

        this.$store.commit('logout')
        
        this.$router.push({ name: 'login'})

      }
  }
}

</script>