<template id="sidenav">
    
    <v-navigation-drawer
      fixed
      v-model="drawerState"
      app
    >
      <v-list>

        <v-list-tile :to="item.path" v-for="(item, index) in itemByLevelSingle" :key="index">
          <v-list-tile-action>
            <v-icon>{{item.icon}}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{item.text}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-group
          v-for="item in itemByLevelNested"
          :key="item.text"
          
          :prepend-icon="item.icon"
          no-action
        >
          <v-list-tile slot="activator">
            <v-list-tile-content>
              <v-list-tile-title>{{ item.text }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile
            v-for="subItem in item.child"
            :key="subItem.text"
            :to="subItem.path"
          >
            <v-list-tile-content>
              <v-list-tile-title>{{ subItem.text }}</v-list-tile-title>
            </v-list-tile-content>

          </v-list-tile>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    
</template>

<script>

export default {
 
  data () {
    return {
      drawer : null,
      items : [
        //level 1
        {
          icon : 'home',
          text : 'Dashboard',
          path : '/',
          level : 1
        },
        {
          icon : 'weekend',
          text : 'Master Data',
          level : 1,
          child : [
            {
              
              text : 'Aset',
              path : '/aset',
              level : 1
            },
            {
              text : 'Pengguna',
              path : '/user',
              level : 1
            },
            {
              text : 'Peminjaman Rutin',
              path : '/rutin',
              level : 1
            }
          ]
        },
        {
          icon : 'description',
          text : 'Peminjaman',
          level : 1,
          child : [
            {
              text : 'Peminjaman',
              path : '/pinjam',
              level : 1
            },
            {
              text : 'Pengembalian',
              path : '/kembali',
              level : 1
            },
          ]
        },
        {
          icon : 'assessment',
          text : 'Laporan',
          level : 1,
          child : [
            {
              
              text : 'Permintaan Pinjam',
              path : '/mintapinjam',
              level : 1
            },
            {
              
              text : 'Barang Belum Kembali',
              path : 'belumkembali',
              level : 1
            },
            {
              
              text : 'Top Aset',
              path : '/topaset',
              level : 1
            },
          ]
        },
        //level 2
        {
          icon : 'home',
          text : 'Dashboard',
          path : '/',
          level : 2
        },
        {
          icon : 'description',
          text : 'Peminjaman',
          level : 2,
          child : [
            {
              
              text : 'Daftar Permohonan',
              path : '/izin',
            }
          ]
        },
        //level 3
        {
          icon : 'home',
          text : 'Dashboard',
          path : '/',
          level : 3
        },
        {
          icon : 'weekend',
          text : 'Katalog',
          path : '/explore',
          level : 3
        },
        {
          icon : 'description',
          text : 'Peminjaman',
          level : 3,
          child : [
            {
              
              text : 'Entry Permohonan',
              path : '/mohon/tambah',
              level : 1
            },
            {
              
              text : 'Status Peminjaman',
              path : '/mohon/status',
              level : 1
            }
          ]
        },
      ]
    }
  },
  computed : {
      drawerState : {
          get : function (){
              return this.$store.state.sideNav
          },
          set : function (newState){
            this.$store.state.sideNav = newState
          }
      },
      routes() {
        return this.$router.options.routes
      },
      itemByLevelNested (){
        const level = this.$store.state.user.level
        return this.items.filter(function (u){
          return u.level == level && u.child != null
        })
      },
      itemByLevelSingle (){
        const level = this.$store.state.user.level
        return this.items.filter(function (u){
          return u.level == level && u.child == null
        })
      }
  },
  watch : {
      
  }
}

</script>