<template>
   <v-snackbar
    v-model="show"
    :color="color"
    :timeout="timeout"
  >
    {{ message }}
    <v-btn
      dark
      flat
      @click="show = false"
    >
      Close
    </v-btn>
  </v-snackbar>
</template>

<script>
export default {
    data() {
        return {
            show : false,
            color: '',
            timeout: 6000,
            message: ''
        }
    },
    created: function () {
        this.$store.watch(state => state.snack, () => {
        const msg = this.$store.state.snack
        if (msg !== '') {
            this.show = true
            this.color = this.$store.state.snack.color
            this.message = this.$store.state.snack.text
            // this.$store.commit('snack', {
            //         text : "",
            //         color : ""
            //     })
        }
        })
    }
}
</script>