<template id="here">
    
    <v-toolbar
      color="blue"
      dark
      fixed
      flat
      clipped
      :app="!this.$vuetify.breakpoint.xs"
      id="tolbar"
    >
        <v-toolbar-title class="mr-5 align-center">
            <span class="title font-weight-light">Budi Luhur Inventory</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
      
        <v-toolbar-items class="hidden-sm-and-down">

            <v-menu 
                :close-on-content-click="false"
                min-width="240"
                offset-y 
                left
                v-model="menu"
                transition="slide-y-transition">
                <template v-slot:activator="{ on }">
                    
                    <v-btn icon v-on="on">
                        <v-badge left color="green" >
                            <span slot="badge" v-if="cartCount > 0">{{cartCount}}</span>
                            <v-icon>shopping_cart</v-icon>
                        </v-badge>
                    </v-btn>

                </template>
                <v-card>
                    <v-list two-line v-if="cartItems.length > 0">
                        <v-subheader>Barang Pinjaman</v-subheader>
                        <template v-for="(item, index) in cartItems.slice(0, 4)">
                            
                            <v-list-tile v-bind:key="index">
                                <v-list-tile-avatar>
                                    <img :src="item.thumbnail">
                                </v-list-tile-avatar>

                                <v-list-tile-content>
                                    <v-list-tile-title class="subheading">{{item.name}}</v-list-tile-title>
                                    <v-list-tile-sub-title class=' caption'>Jumlah Pinjaam : {{item.qty}} pcs</v-list-tile-sub-title>
                                </v-list-tile-content>

                                <v-btn small flat color="orange" class="mr-0 ml-3" @click="removeCartItem(item)">hapus</v-btn>
                            </v-list-tile>
                        </template>
                        <p class="text-xs-center mt-2" v-if="cartItemCount > 4">dan {{cartItemCount - 4}} barang lainnya</p>
                    </v-list>

                     <v-list v-if="cartItems.length == 0">
                        <v-list-tile to="/mohon/status">
                            <v-list-tile-title class="text-xs-center">Tidak ada item</v-list-tile-title>
                        </v-list-tile>
                    </v-list>

                    <v-card-actions v-if="cartItems.length > 0">
                        <v-btn block to="/checkout" color="success" @click="menu = false">checkout</v-btn>
                    </v-card-actions>
                </v-card>
            </v-menu>

            <v-btn icon to="/explore"><v-icon>home</v-icon></v-btn>

            <v-divider
                class="mx-3"
                inset
                vertical
            ></v-divider>

            <v-menu 
                offset-y 
                left
                transition="slide-x-transition">
                <template v-slot:activator="{ on }">
                    <v-btn
                    flat
                    v-on="on"
                    class="text-capitalize 
                        text-capitalize
                        subheading
                        font-weight-regular">
                        {{$store.state.user.name}}
                    </v-btn>
                </template>
                <v-list >
                    <v-list-tile to="/mohon/status">
                        <v-list-tile-title class="text-xs-right">Status Peminjaman</v-list-tile-title>
                    </v-list-tile>
                    
                    <v-list-tile @click="logout">
                        <v-list-tile-title class="text-xs-right">Profile</v-list-tile-title>
                    </v-list-tile>
                    
                    <v-list-tile @click="logout">
                        <v-list-tile-title class="text-xs-right">Logout</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>

        </v-toolbar-items>

    </v-toolbar>
    
</template>

<script>

export default {
 
  data () {
    return {
      menu : false
    }
  },
  computed: {
    cartCount(){

      return this.$store.getters.totalcart

    }, 
    cartItems(){
        return this.$store.state.cart
    },
    cartItemCount(){
        return this.$store.getters.cartitemcount
    }
  },
  methods : {
      toogleDrawer () {

          this.$store.commit('toogleDrawer')
          
      },
      logout(){

        localStorage.removeItem('user')

        this.$store.commit('logout')
        
        this.$router.push({ name: 'login'})

      },
      removeCartItem(item){
          let index = this.cartItems.indexOf(item);
          this.$store.commit('removecartitem', index);
      }
  }
}

</script>