<template>
    <v-layout row justify-center="">
        <v-dialog
            v-model="show" 
            scrollable
            persistent  
            max-width="600"
            transition="dialog-transition"
        >
            <v-card>
                <v-card-title primary-title>
                    <span class="headline">Tambah Aset</span> 
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>

                            <v-flex xs12 >
                                <v-text-field
                                    label="Nama Aset"
                                    v-model="name"
                                    hint="Masukan nama aset yang mudah diingat."
                                ></v-text-field>
                            </v-flex>

                            <v-flex sm6 xs12>
                                <v-select
                                    :items="jenis"
                                    v-model="selectedJenis"
                                    :value="selected"
                                    label="Jenis Aset"
                                    item-text="name"
                                    item-value="id"
                                ></v-select>
                            </v-flex>

                            <v-flex xs12 sm4>
                                <v-text-field
                                    label="Harga Aset"
                                    v-model="price"
                                    hint="Masukan (perkiraan) harga satuan aset"
                                ></v-text-field>
                            </v-flex>

                            

                            <v-flex xs12 sm2>
                                <v-text-field
                                    label="Stok"
                                    v-model="stok"
                                    hint="Masukan jumlah stok yang tersedia"
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12 >
                                <v-textarea
                                    name="input-7-1"
                                    label="Deskripsi"
                                    v-model="deskripsi"
                                    hint="Masukan deskripsi asset max 250 karakter"
                                ></v-textarea>
                            </v-flex>

                        </v-layout>
                    </v-container>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.stop="show=false">Close</v-btn>
                    <v-btn color="blue darken-1" flat @click="onSubmit">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
export default {
    props : {
        value : Boolean
    }
    ,
    data() {
        return {
            
            jenis: [],
            selectedJenis: null,
            name: '',
            price: '',
            stok: '',
            deskripsi: '',
            selected: null
        }
    },
    methods: {
        onSubmit(){
            this.$http
            .post('/aset', {
                name : this.name,
                price : this.price,
                stok : this.stok,
                deskripsi : this.deskripsi,
                jenis_id : this.selectedJenis
            })
            .then(this.dialog = false);
        }
    },
    computed: {
        show: {
            get () {
                return this.value
            },
            set (value) {
                this.$emit('input', value)
            }
        }
    },
    mounted() {
        this.$http
            .get('/jenis')
            .then( response => (this.jenis = response.data))
    },
}
</script>