<template>
    <v-layout row justify-center="">
        <v-dialog
            v-model="show" 
            scrollable
            persistent  
            max-width="600"
            transition="dialog-transition"
        >
            <v-card>
                <v-card-title primary-title>
                    <span class="headline">Tambah Pinjam Rutin</span> 
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>

                            <v-flex xs12 >
                                <v-text-field
                                    label="Nama Peminjam"
                                    v-model="name"
                                    hint="Masukan nama peminjam."
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm8>
                                <v-text-field
                                    label="Acara"
                                    v-model="event"
                                    hint="Masukan Nama Acara"
                                ></v-text-field>
                            </v-flex>

                            <v-flex sm4 xs12>
                                <v-select
                                    :items="days"
                                    v-model="day"
                                    label="Hari"
                                    item-text="text"
                                    item-value="value"
                                ></v-select>
                            </v-flex>

                            <v-flex sm9 xs12>
                                <v-autocomplete
                                    v-model="aset"
                                    :items="item"
                                    item-text="name"
                                    label="Nama Aset"
                                    item-value="id"
                                >
                                </v-autocomplete>
                            </v-flex>

                            <v-flex xs12 sm3>
                                <v-text-field
                                    label="Jumlah"
                                    v-model="qty"
                                    hint="Masukan jumlah pinjam."
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6>
                                <v-text-field
                                    label="Jam Mulai"
                                    v-model="start"
                                    mask="##:##"
                                    return-masked-value
                                    hint="Masukan jam mulai."
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6>
                                <v-text-field
                                    label="Jam Selesai"
                                    v-model="end"
                                    mask="##:##"
                                    return-masked-value
                                    hint="Masukan jam selesai."
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12 >
                                <v-textarea
                                    name="input-7-1"
                                    label="Keterangan"
                                    v-model="keterangan"
                                    hint="Masukan keterangan peminjaman maksimal 250 karakter"
                                ></v-textarea>
                            </v-flex>

                        </v-layout>
                    </v-container>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.stop="show=false">Close</v-btn>
                    <v-btn color="blue darken-1" flat @click="onSubmit">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
export default {
    props : {
        value : Boolean
    }
    ,
    data() {
        return {
            item : null,
            aset : null,
            qty: '',
            name : '',
            event : '',
            day : '',
            days : [
                {text : "Senin", value : 1},
                {text : "Selasa", value : 2},
                {text : "Rabu", value : 3},
                {text : "Kamis", value : 4},
                {text : "Jumat", value : 5},
                {text : "Sabtu", value : 6},
                {text : "Minggu", value : 7}
            ],
            start :  '',
            end :  '',
            keterangan : '',
        }
    },
    methods: {
        onSubmit(){
            this.$http
            .post('/rutin', {
                aset_id : this.aset,
                qty : this.qty,
                hari : this.day,
                peminjam : this.name,
                acara : this.event,
                mulai : this.start,
                selesai : this.end,
                keterangan : this.keterangan
            })
            .then(this.show = false);
        }
    },
    mounted() {
        this.$http
            .get('/aset')
            .then(
                response => (this.item = response.data)
            )
    },
    computed: {
        show: {
            get () {
                return this.value
            },
            set (value) {
                this.$emit('input', value)
            }
        }
    },
}
</script>