<template>
    <v-container grid-list-md fluid>
        <v-layout row wrap>
            <v-flex xs12>
                <v-card>
                    <v-data-table
                        :headers="headers"
                        :items="user"
                        pagination.sync="pagination"
                        
                        loading="true"
                    >
                        <template slot="items" slot-scope="props">
                            <tr @click="goTo(props.item)">
                                <td>{{props.item.name}}</td>
                                <td>{{props.item.username}}</td>
                                <td>{{props.item.level_text}}</td>
                                <td>{{props.item.created_at}}</td>
                                <td>{{props.item.status}}
                                    <v-chip color="gray" v-if="props.item.active == null && props.item.blacklist == null">Belum Aktif</v-chip>
                                    <v-chip dark  color="green" v-if="props.item.active != null && props.item.blacklist == null">Aktif</v-chip>
                                    <v-chip dark color="red" v-if="props.item.blacklist != null">Blacklist</v-chip>
                                </td>
                                    
                                
                            </tr>
                        </template>
                    </v-data-table>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    data() {
        return {
            headers : [
                {text: 'Nama', value: 'name'},
                {text: 'NIP/NIM', value: 'username'},
                {text: 'Hak Akses', value: 'level'},
                {text: 'Tanggal Daftar', value: 'created_at'},
                {text: 'Status Pengguna', value: 'status'}
            ],
            user : []
        }
    },
    methods: {
        goTo(e){
            this.$router.push({ name: 'user.show', params: { id: e.id }})
        },
    },
    mounted() {
        this.$http
            .get('/user')
            .then( response => (this.user = response.data))
    },    
}
</script>