<template  v-if="user">
    <div>
        <v-container blue-grey lighten-1 fluid>
            <v-layout row wrap>
                <v-flex xs12 >
                    <span class="white--text headline">Detail Pengguna</span><br>
                    <span class="white--text subheading">informasi lengkap mengenai identitas pengguna</span>
                </v-flex>
            </v-layout>
        </v-container>

        <v-container grid-list-lg >
            <v-layout row wrap>    

                <v-flex xs12>
                    <v-card >
                        <v-list dense>
                            <v-list-tile >
                                <v-list-tile-content>
                                    Nama
                                    </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{user.name}}
                                </v-list-tile-content>
                                
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    Email
                                    </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{user.email}}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    Nomor Telephone
                                    </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{user.telephone}}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    Tanggal Terdaftar
                                    </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{user.created_at}}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    Aktif
                                    </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{user.active ? 'Ya' : 'Tidak'}}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    Dicekal
                                    </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{user.blacklist ? 'Ya' : 'Tidak'}}
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    Hak Akses
                                    </v-list-tile-content>
                                <v-list-tile-content class="align-end">
                                    {{this.levelName ? this.levelName : 'Belum Diberikan'}}
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn v-if="!user.blacklist" @click.stop="dialogCekal = true" flat color="orange">cekal</v-btn>
                            <v-btn v-if="!user.active" @click.stop="dialogAktivasi = true" flat color="orange">aktivasi</v-btn>
                            <v-btn v-if="this.levelName"  @click.stop="dialogAktivasi = true" flat color="orange">perbarui</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
                
            </v-layout>

            <v-layout row justify-center>
                <v-dialog v-model="dialogAktivasi" max-width="480">
                <v-card>
                    <v-card-title class="headline">Hak Akses</v-card-title>
                    <v-card-text>
                        <v-select
                            :items="items"
                            v-model="selectedLevel"
                            item-text="name"
                            item-value="id"
                            label="Pilih hak akses"
                        ></v-select>                     
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="orange" flat @click="activate">Aktifkan</v-btn>
                    </v-card-actions>
                </v-card>
                </v-dialog>
            </v-layout>

            <v-layout row justify-center>
                <v-dialog v-model="dialogCekal" persistent max-width="290">
                <v-card>
                    <v-card-title class="headline">Cekal akun pengguna?</v-card-title>
                    <v-card-text>Ini merupakan fitur experimental, dimana akun yang telah dicekal akan kehilangan kemampuan untuk mengakses aplikasi. </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="orange darken-1" flat @click="dialogCekal = false">Batal</v-btn>
                    <v-btn color="orange darken-1" flat @click="this.blacklist">Cekal</v-btn>
                    </v-card-actions>
                </v-card>
                </v-dialog>
            </v-layout>

            
        </v-container>
    </div>

</template>

<script>
export default {
    data() {
        return {
            user : [],
            dialogAktivasi : false,
            dialogCekal : false,
            selectedLevel : '',
            items: [
                {name : 'Administrator', id : '1'},
                {name : 'Permittor', id : '2'},
                {name : 'Peminjam', id : '3'}
            ]
        }
    },
    methods: {
        activate(){
            this.$http
                .post('/user/' + this.$route.params.id + '/activate')
                this.assignLevel()
        },
        blacklist(){
            this.$http
                .post('user/' + this.$route.params.id + '/blacklist')
                .then(
                    this.$router.push({ name: 'user.index'})
                )
        },
        assignLevel(){
            this.$http
                .patch('user/' + this.$route.params.id, {
                    level : this.selectedLevel
                })
                .then(
                    this.$router.push({ name: 'user.index'})
                )
        }
    },
    computed: {
        levelName(){
            switch (this.user.level) {
                case "1":
                    return 'Administrator'
                case "2":
                    return 'Permittor'
                case "3":
                    return 'Peminjam'
            
                default:
                    return null
            }
        }
    },
    mounted() {
        this.$http
            .get('user/' + this.$route.params.id)
            .then( response => {
                this.user = response.data
            })
    },
}
</script>