<template>
<div>
    <v-container blue-grey lighten-1 fluid>
        <v-layout row wrap>
            <v-flex xs12 >
                <span class="white--text headline">Tambah Aset</span><br>
                <span class="white--text subheading">Tambah aset baik berupa barang, gedung, ataupun kendaraan</span>
            </v-flex>
        </v-layout>
    </v-container>
    <v-container grid-list-md fluid>
        <v-layout row wrap>

            <v-flex xs12 sm5>
                <v-autocomplete
                    :box="box"
                    v-model="selectedUser"
                    :items="user"
                    label="Peminjam"
                    item-text="name"
                    item-value="id"
                >
                </v-autocomplete>
            </v-flex>

            <v-flex xs12 sm4>
                <v-autocomplete
                    :box="box"
                    v-model="selectedAset"
                    :items="aset"
                    label="Nama Aset"
                    item-text="name"
                    item-value="id"
                >
                </v-autocomplete>
            </v-flex>

            <v-flex xs12 sm3>
                <v-text-field
                    :box="box"
                    label="Jumlah Pinjam"
                    v-model="qty"
                    hint="Masukan jumlah aset yang dipinjam"
                ></v-text-field>
            </v-flex>

            <v-flex xs12>
                <v-text-field
                    :box="box"
                    label="Nama Acara"
                    v-model="event_name"
                    hint="Masukan nama acara"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 sm4>
                <v-select
                    :box="box"
                    :items="hari"
                    v-model="selectedHari"
                    label="Hari Peminjaman"
                ></v-select>
            </v-flex>

            <v-flex xs12 sm4>
                <v-text-field
                    :box="box"
                    mask="##:##"
                    return-masked-value
                    label="Jam Mulai"
                    v-model="start"
                    hint="Masukan jam mulai peminjaman"
                ></v-text-field>
            </v-flex>

            <v-flex xs12 sm4>
                <v-text-field
                    :box="box"
                    mask="##:##"
                    return-masked-value
                    label="Jam Selesai"
                    v-model="end"
                    hint="Masukan jam selesai peminjaman"
                ></v-text-field>
            </v-flex>

            <v-flex xs12>
                <v-textarea
                    :box="box"
                    label="Deskripsi Peminjaman"
                    v-model="description"
                    hint="Masukan deskripsi peminjaman max 250 karakter"
                ></v-textarea>
            </v-flex>

            <v-flex xs12 sm1 class="pt-0">
                
                <v-btn block color="success" @click="submit">simpan</v-btn>

            </v-flex>

        </v-layout>
    </v-container>
</div>
</template>

<script>
export default {
    data() {
        return {
            box : true,
            user : [],
            selectedUser : '',
            event_name : '',
            start : null,
            end : null, 
            description : '',
            aset : [],
            selectedAset : null,
            qty : '',
            hari : [
                {text : 'Senin', value : 1},
                {text : 'Selasa', value : 2},
                {text : 'Rabu', value : 3},
                {text : 'Kamis', value : 4},
                {text : 'Jumat', value : 5},
                {text : 'Sabtu', value : 6},
                {text : 'Minggu', value : 0}
            ],
            selectedHari : ''
             
        }
    },
    methods: {

        submit(){
            this.$http
                .post('/rutin', {
                    aset_id : this.selectedAset,
                    qty : this.qty,
                    hari : this.selectedHari,
                    peminjam : this.selectedUser,
                    acara : this.event_name,
                    mulai : this.start,
                    selesai : this.end,
                    keterangan : this.description
                })
                .then( response => {
                    if(response.status == 201)
                        this.$router.push({ name: 'rutin.index'})
                })
        }
    },

    mounted() {
        this.$http
            .get('/aset')
            .then(response => (this.aset = response.data))

        this.$http
            .get('/user')
            .then(response => (this.user = response.data))
    },
}
</script>