<template>
    <v-container fluid grid-list-md>
        <v-layout row wrap>
            <v-flex xs12>
                <v-card>
                    <v-card-title primary-title>
                        <v-layout row wrap>
                            <v-flex xs12>
                                <span class="title pb-0">Data Pinjam Rutin</span>
                            </v-flex>
                        
                            <v-flex xs12>
                                <span class="subheading">Kelola peminjaman rutin.</span>
                            </v-flex>
                        </v-layout>
                        
                        <v-text-field
                            v-model="search"
                            append-icon="search"
                            label="Search"
                            single-line
                            hide-details
                        ></v-text-field>
                    </v-card-title>
                    <v-data-table
                        :headers="headers"
                        :items="rutin"
                        :search="search"
                    >
                        <template slot="items" slot-scope="props">
                            <tr>
                                <td>{{props.item.user.name}}</td>
                                <td>{{props.item.acara}}</td>
                                <td>{{props.item.aset.name}}</td>
                                <td>{{props.item.qty}}</td>
                                <td>{{props.item.mulai}}</td>
                                <td>{{props.item.selesai}}</td>
                            </tr>
                        </template>   
                    </v-data-table>
                </v-card>
            </v-flex>
        </v-layout>

        <v-btn
            fixed
            dark
            fab
            bottom
            right
            color="red"
            to="/rutin/create"
        >
            <v-icon>add</v-icon>
        </v-btn>
    </v-container>
</template>

<script>
export default {
    data() {
        return {
            rutin : [],
            headers : [
                { text: "Peminjam", value: "user.name"},
                { text: "Acara", value: "name"},
                { text: "Aset", value: "aset.name"},
                { text: "Jumlah", value: "qty"},
                { text: "Mulai", value: "mulai"},
                { text: "Selesai", value: "selesai"},
            ],
            search : ''
        }
    },
    mounted() {
        this.$http
            .get('/rutin')
            .then( response => (this.rutin = response.data) )  
    },
}
</script>