<template>
  <v-app>
    <v-fade-transition mode="out-in">
      <component v-bind:is="layout"></component>
    </v-fade-transition>
  </v-app>
</template>

<script>

  const default_layout= 'app';
  export default {

    computed: {

      layout () {
        return (this.$route.meta.layout || default_layout) + '-layout';
      }
      
    }

  }

</script>