<template>
    <v-app>
        <v-fade-transition mode="out-in">
            <router-view></router-view>
        </v-fade-transition>
        <Snack></snack>
    </v-app>
</template>

<script>
import Snack from '../components/Snackbar'

export default {
    name: 'App',
    components: {
        Snack
    }
}
</script>