<template>
  <v-app>
   
   
   <v-content >
    
      <v-fade-transition mode="out-in">
        <router-view></router-view>
      </v-fade-transition>
    
  </v-content>

  <BottomNav class="hidden-sm-and-up"></BottomNav>

  <Snack></snack>

  </v-app>
</template>

<script>

import Snack from '../components/Snackbar'
import BottomNav from '../components/BottomNav'

export default {
  name: 'App',
  components: {
    Snack,
    BottomNav
  },
}
</script>
