<template>
  <v-app>
   <SideNav class="hidden-print-only"></SideNav> 
   <Nav class="hidden-print-only"></Nav>
   <v-content >
    
      <v-fade-transition mode="out-in">
        <router-view></router-view>
      </v-fade-transition>
    
  </v-content>

  <!-- <Fab></Fab> -->

  <Snack></snack>

  </v-app>
</template>

<script>
import SideNav from '../components/SideNav'
import Nav from '../components/Nav'
import Snack from '../components/Snackbar'
// import Fab from '../components/fab'

export default {
  name: 'App',
  components: {
    SideNav,
    Nav,
    Snack,
    // Fab
  },
  data () {
    return {
      direction: 'top',
      fab: false,
      right: true,
      bottom: true,
      transition: 'slide-y-reverse-transition'
    }
  }
}
</script>
