<template>
  <v-app>
   
   <Nav class="hidden-print-only hidden-xs-only"></Nav>
   <v-content >
    
      <v-fade-transition mode="out-in">
        <router-view></router-view>
      </v-fade-transition>
    
  </v-content>

  <BottomNav class="hidden-md-and-up"></BottomNav>

  <Snack></snack>

  </v-app>
</template>

<script>

import Nav from '../components/UserNav'
import Snack from '../components/Snackbar'
import BottomNav from '../components/BottomNav'

export default {
  name: 'App',
  components: {
    Nav,
    Snack,
    BottomNav
  },
  data () {
    return {
      direction: 'top',
      fab: false,
      right: true,
      bottom: true,
      transition: 'slide-y-reverse-transition',
    }
  }
}
</script>
