<template>
    <v-container fluid fill-height>
        <v-layout align-center justify-center row fill-height>
            <v-flex xs12 sm4>
                <v-card>
                <v-container fluid grid-list-md >
                    <v-form v-on:keyup.native.enter="login">
                        <v-layout row wrap>
                            <v-flex xs12 class="">
                                <h1 class="headline mb-1">Login</h1>
                                <p class="caption">Masuk ke dalam sistem menggunakan akun terdaftar</p>
                            </v-flex>
                            
                            <v-flex xs12 >
                                <v-text-field
                                    
                                    label="Username"
                                    v-model="username"
                                    hint="username dapat berupa NIM, NIP ataupun email. "
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 >
                                <v-text-field
                                    
                                    label="Password"
                                    v-model="password"
                                    hint="masukan password"
                                    :append-icon="show1 ? 'visibility_off' : 'visibility'"
                                    :type="show1 ? 'text' : 'password'"
                                    @click:append="show1 = !show1"
                                ></v-text-field>
                            </v-flex>

                            <v-btn 
                                flat
                                class="ml-1 text-capitalize"
                                block color="primary" 
                                
                                :disabled="loading"
                                to="/register"
                            >Daftarkan akun</v-btn>

                            <v-spacer></v-spacer>

                            <v-btn 
                                class="mr-1 text-capitalize"
                                block color="primary" 
                                :loading="loading"
                                :disabled="loading"
                                @click = "login"
                            >Login</v-btn>
                            
                            <v-flex xs12>
                                <p class="caption">sistem ini masih dalah tahap pengembangan, untuk melihat panduan penggunaan, klik link <a @click="panduan">berikut</a></p>
                            </v-flex>
                        </v-layout>
                    </v-form>
                </v-container>
                    
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    data () {
        return {
            show1 : false,
            username : '',
            password : '',
            loader: null,   
            loading: false,
        }
    },
    methods: {
        login(e){
            this.loader = 'loading'
            e.preventDefault()
            this.$http.post('/login', {
                username : this.username,
                password : this.password
            })
            .then(response => {
                this.$store.commit('authenticate', response.data)
                localStorage.setItem('user', JSON.stringify(response.data))
                if(response.data.level == 3)
                    this.$router.push({ name: 'explore'})
                else
                this.$router.push({ name: 'index'})
            })
            
        },
        panduan(){
            const config = {
                responseType: 'blob'
            }
            this.$http
                .get('/guide', config)
                .then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'file.pdf');
                    document.body.appendChild(link);
                    link.click();
                })
        }
    },
    watch: {
        loader () {
        const l = this.loader
        this[l] = !this[l]

        setTimeout(() => (this[l] = false), 3000)

        this.loader = null
      }
    }
}
</script>