<template>
    <v-container fluid fill-height>
        <v-layout align-center justify-center row fill-height>
            <v-flex xs12 sm4>
                <v-card>
                <v-container fluid grid-list-md >
                    <v-form v-on:keyup.native.enter="register">
                        <v-layout row wrap>
                            <v-flex xs12 class="">
                                <h1 class="headline mb-1">Daftar Akun</h1>
                                <p class="caption">Mendaftarkan akun baru ke dalam sistem.</p>
                            </v-flex>
                            
                            <v-flex xs12 >
                                <v-text-field
                                    label="Username"
                                    
                                    v-model="username"
                                    
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <p class="caption">Masukan NIP/NIM yang sudah terdaftar ke dalam sistem. 
                                    Password akan diatur mengikuti password anda yang sudah terdaftar sebelumnya.</p>
                            </v-flex>
                            <v-btn 
                                flat
                                    class="ml-1 text-capitalize"
                                    color="primary" 
                                    
                                    :disabled="loading"
                                    to="/login"
                                >Login</v-btn>
                                <v-spacer></v-spacer>
                                <v-btn 
                                    class="mr-1 text-capitalize"
                                    color="primary" 
                                    :loading="loading"
                                    :disabled="loading"
                                    @click = "register"
                                >Daftar</v-btn>
                            <v-flex xs12 justify-end  >
                                
                            </v-flex>
                            
                        </v-layout>
                    </v-form>
                </v-container>
                    
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    data() {
        return {
            username : '',
            loader: null,   
            loading: false,
        }
    },
    methods: {
        register(e){
            this.loader = 'loading'
            e.preventDefault()
            this.$http
                .post('/user', {
                    username: this.username
                })
                .then(response => {
                    if(response.status == 201){
                        this.$router.push({ name: 'login'})
                        this.$store.commit('snack', {
                            text : response.data.message,
                            color : 'success'
                        })
                    }
                         
                })
                
        }
    },
    
}
</script>